{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}تغییر پست الکترونیکی{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}تغییر آدرس پست الکترونیکی اکانت {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post">
  {% block profile_navigation_items %}
  <div class="row">
    <div class="col">
      <a class="btn btn-success" href="{% url 'userena_profile_detail' user.username %}">{% trans "مشاهده صفحه کاربری" %}</a>
      <a class="btn btn-primary" href="{% url 'userena_profile_edit' user.username %}">{% trans "ویرایش جزییات " %}</a>
      <a class="btn btn-danger" href="{% url 'userena_password_change' user.username %}">{% trans "تغییر رمز عبور" %}</a>
      <!-- <a class="btn btn-warning" href="{% url 'userena_email_change' user.username %}">{% trans "تغییر آدرس بست الکترونیکی" %}</a> -->
      <hr>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <a class="btn btn-success" href='/entertobazar' >{% trans "ورود به بازار مجازی!" %}</a>
      <hr>
    </div>
  </div> -->
  {% endblock %}
  {% csrf_token %}
  <fieldset>
    <legend>تغییر آدرس پست اکترونیکی</legend>
    {{ form.as_p }}
  </fieldset>
  <input class="btn btn-success" type="submit" value="تغییر آدرس پست الکترونیکی" />
</form>
{% endblock %}
