{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}تغییر کلمه‌ی عبور{% endblock %}

{% block content_title %}<h2>{% blocktrans with user.username as username %}تغییر کلمه‌ی عبور اکانت {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form">
  {% block profile_navigation_items %}
  <div class="row">
    <div class="col">
      <a class="btn btn-success" href="{% url 'userena_profile_detail' user.username %}">{% trans "مشاهده صفحه کاربری" %}</a>
      <a class="btn btn-primary" href="{% url 'userena_profile_edit' user.username %}">{% trans "ویرایش جزییات " %}</a>
      <!-- <a class="btn btn-danger" href="{% url 'userena_password_change' user.username %}">{% trans "تغییر رمز عبور" %}</a> -->
      <a class="btn btn-warning" href="{% url 'userena_email_change' user.username %}">{% trans "تغییر آدرس پست الکترونیکی" %}</a>
      <hr>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <a class="btn btn-success" href='/entertobazar' >{% trans "ورود به بازار مجازی!" %}</a>
      <hr>
    </div>
  </div> -->
  {% endblock %}
  <fieldset>
    <legend>تغییر کلمه‌ی عبور</legend>
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
      <legend>نکات زیر را بخوانید و دوباره تلاش کنید</legend>
      <p>کلمه‌ی عبور نباید مشابه دیگر اطلاعات حساب کاربری شما باشد</p>
      <p>کلمه‌ی عبور جدید باید حداقل دارای ۸ کاراکتر باشد</p>
      <p>کلمه‌ی عبور جدید نباید یک کلمه‌ی معمول باشد</p>
      <p>کلمه‌ی عبور جدید نباید فقط از اعداد تشکیل شده باشد</p>
    </div>
    {% endif %}
    <!-- {{ form.newPassword1.errors}} -->
    <div class="form-group">
      <label>کلمه‌ی عبور فعلی</label>
      <input name="old_password" type="password" class="form-control" id="id_old_password">
    </div>
    <div class="form-group">
      <label>کلمه‌ی عبور جدید</label>
      <input name="new_password1" type="password" class="form-control" id="id_new_password1">
    </div>
    <div class="form-group">
      <label>تایید کلمه‌ی عبور جدید</label>
      <input name="new_password2" type="password" class="form-control" id="id_new_password2">
    </div>
  </fieldset>
  <input class="btn btn-success" type="submit" value="تغییر کلمه‌ی عبور" />
</form>
{% endblock %}
