{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}تنظیمات حساب کاربری{% endblock %}

{% block content_title %}<h2>{% blocktrans with profile.user.username as username %}ویرایش جزییات حساب کاربری {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block content %}

<form action="" enctype="multipart/form-data" method="post">
  {% block profile_navigation_items %}
  <div class="row">
    <div class="col">
      <a class="btn btn-success" href="{% url 'userena_profile_detail' user.username %}">{% trans "مشاهده صفحه کاربری" %}</a>
      <!-- <a class="btn btn-primary" href="{% url 'userena_profile_edit' user.username %}">{% trans "ویرایش جزییات " %}</a> -->
      <a class="btn btn-danger" href="{% url 'userena_password_change' user.username %}">{% trans "تغییر رمز عبور" %}</a>
      <a class="btn btn-warning" href="{% url 'userena_email_change' user.username %}">{% trans "تغییر آدرس پست الکترونیکی" %}</a>
      <hr>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col">
      <a class="btn btn-success" href='/entertobazar' >{% trans "ورود به بازار مجازی!" %}</a>
      <hr>
    </div>
  </div> -->
  {% endblock %}
  {% csrf_token %}

  <fieldset>
  <!-- {{ form.as_p }} -->
    <legend>{% trans "ویرایش جزییات" %}</legend>
    {% for field in form %}
    <div class="form-group">
      {% if field.name == 'first_name' %}
      <label>نام</label>
      <input name="first_name" type="text" class="form-control" id="id_first_name" value="{{ field.value }}">
      {% elif field.name == 'last_name' %}
      <label>نام خانوادگی</label>
      <input name="last_name" type="text" class="form-control" id="id_last_name" value="{{ field.value }}">
      {% else %}
      <div style="display: none;">
        {{field}}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </fieldset>

  <input class="btn btn-success" type="submit" value="ذخیره‌ی تغییرات" />
</form>
{% endblock %}
