{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content_title %}
<legend>ثبت نام</legend>
{% endblock %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}
  <fieldset>

    {{ form.non_field_errors }}
    {% for field in form %}
    {{ field.errors }}
    {% comment %} Displaying checkboxes differently {% endcomment %}
    {% if field.name == 'tos' %}
    <p class="checkbox">
    <label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
    </p>
    {% else %}
    <div class="form-group">

      {% if field.name == 'username' %}
      <label>نام کاربری</label>
      <input name="username" type="text" class="form-control" id="username" placeholder="نام کاربری">
      {% endif %}
      {% if field.name == 'email' %}
      <label>ایمیل</label>
      <input name="email" type="email" class="form-control" id="email" placeholder="آدرس ایمیل شما">
      {% endif %}
      {% if field.name == 'password1' %}
      <label>کلمه‌ی عبور</label>
      <input name="password1" type="password" class="form-control" id="password1" placeholder="کلمه‌ی عبور">
      {% endif %}
      {% if field.name == 'password2' %}
      <label>تایید کلمه‌ی عبور</label>
      <input type="password" name="password2" class="form-control" id="password2" placeholder="کلمه‌ی عبور">
      {% endif %}
      <!-- <pre>{{ field.name }}</pre> -->
    </div>
    {% endif %}
    {% endfor %}
  </fieldset>
  <input class="btn btn-primary btn-block" type="submit" value="ثبت نام" />
  <div class="row">
    <div class="col">
      <hr>
      <p class=""><a href="{% url 'userena_signin' %}" title="قبلا ثبت نام کرده اید؟">قبلا ثبت نام کرده اید؟</a></p>

    </div>
  </div>
</form>
{% endblock %}
