{% extends 'partials/base.html' %}
<!-- {% load widget_tweaks %} -->

{% block content_title %}ورود به بازار دلال کش{% endblock %}
{% block title %}ورود به بازار{% endblock %}



{% block content %}
  <div class="container">
  <div class="row">
  <button type="button" class="btn btn-outline-info btn-lg btn-block"><a style="text-decoration: none;" href="/customer/request">ثبت درخواست خريد محصول (مشتري)</a></button>
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block"><a style="text-decoration: none;" href="/provider/customersrequests">مشاهده درخواست هاي مشتريان توسط من (فراهم كننده)</a>
  </a></button>
  <button type="button" class="btn btn-outline-warning btn-lg btn-block"><a style="text-decoration: none;" href="/provider/goods">مشاهده تمام پيشنهادات من به مشتریان( فراهم كننده)</a>
  </button>
  <button type="button" class="btn btn-outline-success btn-lg btn-block"><a style="text-decoration: none;" href="/customer/final_choose">مشاهده تمام پيشنهادات فراهم كنندگان به من (مشتري)</a></button>
  <button type="button" class="btn btn-outline-primary btn-lg btn-block"><a style="text-decoration: none;" href="/customer/requestlist/">مشاهده تمام درخواست هاي من به فراهم كنندگان (مشتري)</a></button>
  </ul>
  </div>
  </div>
{% endblock %}
