{% extends 'partials/base.html' %}
<!-- {% load widget_tweaks %} -->

{% block content_title %}ورود به بازار دلال کش{% endblock %}
{% block title %}ورود به بازار{% endblock %}



{% block content %}
  <div class="container">
  <div class="row">
  <button type="button" class="btn btn-outline-primary btn-lg btn-block"><a style="text-decoration: none;" href="/customer/request">ثبت درخواست محصول جدید(صرفا توسط مشتری)</a></button>
  <button type="button" class="btn btn-outline-secondary btn-lg btn-block"><a style="text-decoration: none;" href="/provider/requests">مشاهده درخواست ها(صرفا توسط فراهم کننده)</a>
  </button>
  <button type="button" class="btn btn-outline-success btn-lg btn-block">مشاهده لیست درخواست های آماده به کار</button>
  </ul>
  </div>
  </div>
{% endblock %}
