{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block content_title %}مشاهده‌ی فاکتور{% endblock %}
{% block title %}مشاهده‌ی فاکتور{% endblock %}

{% block content %}
<table class="table text-right">
  <thead class="thead">
    <tr>
      <th scope="col">#</th>
      <th scope="col">نام محصول</th>
      <th scope="col">تعداد</th>
      <th scope="col">قیمت</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{good.good_title}}</td>
      <td>{{requestgood.requestedgood_number}}</td>
      <td>{{good.good_price}}</td>
    </tr>
  </tbody>
</table>

good_title {{good.good_title}}
<hr>
good_description{{good.good_description}}
<hr>
good_owner {{good.good_owner}}
<hr>
requestgood_image {{requestgood.requestedgood_image}}
<hr>
request_number {{requestgood.requestedgood_number}}

{% endblock %}
