{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block content_title %}درخواست محصول{% endblock %}
{% block title %}درخواست محصول{% endblock %}

{% block content %}
    <div class="container" style="text-align: right;">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form method="post" enctype="multipart/form-data">
            {%csrf_token %}
            {% for field in form %}
            {% if field.name == 'requestedgood_title' %}
            <div class="form-group">
              <label ><i class="fa fa-id-badge" aria-hidden="true"></i> عنوان</label>
              {{ field|add_class:"form-control" }}
              <!-- <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="عنوان">  -->
            </div>
            {% endif %}
            {% if field.name == 'requestedgood_number' %}
            <div class="form-group">
              <label ><i class="fa fa-sort-numeric-desc" aria-hidden="true"></i> تعداد</label>
              {{ field|add_class:"form-control" }}
              <!-- <input  class="form-control" placeholder="شماره"> </div> -->
            </div>
            {% endif %}
            {% if field.name == "requestedgood_description" %}
            <div class="form-group">
              <label><i class="fa fa-pencil" aria-hidden="true"></i> توضیحات</label>
              {{ field|add_class:"form-control"}}
              <!-- <input  class="form-control" placeholder="توضیحات"> </div> -->
            </div>
            {% endif %}

              {% if field.name == "requestedgood_image" %}
              <div class="form-group">
                <label ><i class="fa fa-camera" aria-hidden="true"></i> تصویر</label>
                {{ field|add_class:"form-control-file" }}
              <!-- <div class="form-group"> <label></label> <input type="file" class="form-control-file" ></div> -->
              </div>
              {% endif %}
              {% endfor%}
              <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane" aria-hidden="true"></i> ثبت درخواست</button>
            </form>
        </div>
      </div>
    </div>
  {% endblock %}
