{% extends 'partials/base.html' %}
<!-- {% load widget_tweaks %} -->

{% block content_title %}مشاهده‌ی درخواست ها{% endblock %}
{% block title %}مشاهده‌ی درخواست ها{% endblock %}






{% block content %}
<div class="container">
  <div class="row">
    {% for rg in requested_good_list %}
    <div class="col-6">
      <ul class="list-group" style="padding-bottom: 1em;">

    		  <li class="list-group-item active text-center" >درخواست شماره {{rg.id}}</li>
    		  <li class="list-group-item text-right " >عنوان : {{rg.requestedgood_title}} </li>
    		  <li class="list-group-item text-right">تعداد : {{rg.requestedgood_number}} </li>
    		  <!-- <li class="list-group-item text-right">عکس :{{rg.requestedgood_image}}</li> -->
          <li class="list-group-item text-center"><img src="/media/{{rg.requestedgood_image}}" alt="تصویر محصول" class="img-thumbnail"></li>
    		  <li class="list-group-item text-right">توضیحات : {{rg.requestedgood_description}} </li>
    		  <!-- <button type="button" class="btn btn-success">تایید</button> -->
    		  <button  class="btn btn-primary" style="background-color:#0080ff"><a  href="/provider/offer/?id={{rg.pk}}" style="color:white"><i class="fa fa-check" aria-hidden="true"></i> ثبت پیشنهاد</a></button>
      </ul>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
