<!-- 
<ul>

{% for rg in requested_good_list %}

<li>{{rg.requestedgood_title}}</li>

    <button ><a  type="button" href="/provider/offer/?id={{rg.pk}}">request</a></button>

{% empty %}
    {{message}}

{% endfor %}

    </ul>
 -->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	  <link rel="stylesheet" href="https://cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  </head>
  <body>

  <br><br>






  <div class="container">	
  <div class="row">
  


{% for rg in requested_good_list %}

<div class="col-3"></div>
<div class="col-6">

<br><br> 
  <ul class="list-group">

		  <li class="list-group-item active text-center" >درخواست</li>
		  <li class="list-group-item text-right " >عنوان : {{rg.requestedgood_title}} </li>
		  <li class="list-group-item text-right">تعداد : {{rg.requestedgood_number}} </li>
		  <!-- <li class="list-group-item text-right">عکس :{{rg.requestedgood_image}}</li> -->
      <li class="list-group-item text-right">عکس :{{rg.requestedgood_image}}</li>
		  <li class="list-group-item text-right">توضیحات : {{rg.requestedgood_description}} </li>
		  <!-- <button type="button" class="btn btn-success">تایید</button> -->
		      <button  class="btn btn-Primary" style="background-color:#0080ff"><a  href="/provider/offer/?id={{rg.pk}}" style="color:white">تایید<img src="http://s9.picofile.com/file/8312546184/tick_blue.png"></a></button>


  </ul>
</div>
<div class="col-3">
</div>


{% empty %}
    {{message}}

    </div>

{% endfor %}



  
  </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>