{% extends 'partials/base.html' %}
{% load widget_tweaks %}

{% block content_title %}ثبت پیشنهاد{% endblock %}
{% block title %}ثبت پیشنهاد{% endblock %}

{% block content %}
<div class="container" style="text-align: right;">
  <div class="row">
    <div class="col">
      {% if message %}
      <div class="alert alert-danger" role="alert">
        {{message}}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form method="post" enctype="multipart/form-data">
          {%csrf_token %}
          {% for field in form %}
          
          {% if field.name == 'good_price' %}
          <div class="form-group">
            <label ><i class="fa fa-id-badge" aria-hidden="true"></i> قیمت پیشنهادی</label>
            {{ field|add_class:"form-control" }}
          </div>
          {% endif %}
          {% if field.name == 'good_description' %}
          <div class="form-group">
            <label ><i class="fa fa-id-pencil" aria-hidden="true"></i> توضیحات </label>
            {{ field|add_class:"form-control" }}
          </div>
          {% endif %}
          {% if field.name == 'good_title' %}
          <div class="form-group">
            <label ><i class="fa fa-id-pencil" aria-hidden="true"></i> عنوان محصول </label>
            {{ field|add_class:"form-control" }}
          </div>
          {% endif %}
          {% if field.name == 'good_image' %}
          <div class="form-group">
            <label ><i class="fa fa-id-camera" aria-hidden="true"></i> تصویر محصول </label>
            {{ field|add_class:"form-control-file" }}
          </div>
          {% endif %}
          {% if field.name == 'good_number' %}
          <div class="form-group">
            <label ><i class="fa fa-id-pencil" aria-hidden="true"></i> تعداد محصول </label>
            {{ field|add_class:"form-control" }}
          </div>
          {% endif %}
          {% endfor %}
      <!-- {{form.as_p}} -->

      <button type="submit" class="btn btn-primary" ><i class="fa fa-paper-plane" aria-hidden="true"></i> ثبت پیشنهاد</button>


      </form>
    </div>
  </div>

</div>
{% endblock %}
