<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>دلال کش | {% block title %}صفحه‌ی اصلی{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.rawgit.com/rastikerdar/shabnam-font/v2.1.1/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style media="screen">
      body, h1, h2, h3, input {
        font-family: "Shabnam";
      }
      .row {
        padding-bottom: 1em;
        padding-top: 1em;

      }

     .MemberPic{
     	width: 50%;
     	img
     }
    </style>
  {% block meta %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <div id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">دلال کش</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flip pull-left" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link text-success" href="/entertobazar">ورود به بازار</a>
          </li>
          {% endif %}

          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link text-primary" href="https://www.aparat.com/carenzarin_dallalkosh">فیلم های آموزشی</a>
          </li>
          {% endif %}

          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link text-info" href="/accounts/{{user.username}}">حساب کاربری</a>
          </li>
          {% endif %}

          <li class="nav-item">
            {% if not user.username %}
            <a class="nav-link text-success" href="/accounts/signin">ورود</a>
            {% endif %}
            {% if user.username %}
            <a class="nav-link text-danger" href="/accounts/signout">خروج</a>
            {% endif %}
          </li>

        </ul>
      </div>
    </nav>
    <div class="container">

      <div class="row" style="padding-top: 3em;">
        <div class="col">
          <div class="container text-right">
            <div class="row text-center">
              <div class="col">
                <h1>دلال کش</h1>
                <h3 class="text-secondary">حذف واسطه‌های غیرضروری</h3>
              </div>
            </div>
            <hr>
            <div class="row d-flex align-items-center">
                <div class="col">
                  <p class="text-right">اين روزها ، واسط ها ( دلال ها) ، نقش موثري در معاملات روزمره دارند و گاهي با افزايش نزديك به ٤٠٠ ٪؜ قيمت ها باعث بر هم خوردن معادلات بسياري مي شوند.
				  گروه كارن زرين بر آن شد كه با طراحي سايتي ، بتواند نقش واسط ها ( دلال ها) را حذف بنمايد و از اين طريق ، بتواند به تعادل قيمت عادلانه و نسبي بازارها كمك بنمايد.
				  در سايت ما ، مي توانيد محصول خود را به عنوان مشتري درخواست دهيد و فراهم كننده ها درخواست هاي شما را مشاهده خواهند نمود و سپس با ارايه قيمتي ، سعي در براورده كردن معامله خواهند نمود.</p>
                </div>
                <div class="col-5">
                  <img class="img-fluid" src="http://s9.picofile.com/file/8313644868/Screen_Shot_2017_12_07_at_10_07_42.png" />
                </div>
              </div>
            </div>
            <hr>
            <div class="row d-flex align-items-center">
              <div class="col-2">
                <img class="img-fluid" src="http://s9.picofile.com/file/8313647384/Screen_Shot_2017_12_07_at_11_06_21.png" />
              </div>
              <div class="col">
                <p class="text-right">گروه كارن زرين متشكل از ٦ نفر ( در پايين در مورد اعضاي گروه توضيح داده شده است) مي باشد. اين گروه كار خود را از درس مهندسي نرم افزار ١ ارايه شده در دانشگاه صنعتي اصفهان شروع نموده است و پس از انجام موفقيت آميز پروژه درس ، در درس هاي مهندسي نرم افزار ٢ و ازمايشگاه مهندسي نرم افزار ١ نيز شروع به فعاليت نموده است. همچنين اين گروه سابقه همكاري با شركت سلام جهت طراحي سايت با هدف رويت محصولات تزييني آن شركت داشته است. خط مشي اين گروه عبارتست از ارايه بهترين خدمات وب پايه در كنار احترام به نياز و سليقه مشتري.</p>
              </div>
            </div>
            <hr>
            <div class="row d-flex align-items-center">
              <div class="col-3">
              	<img class = "img-fluid rounded-circle MemberPic mx-auto d-block" src="http://s8.picofile.com/file/8313657068/photo_2017_11_24_00_40_44.jpg">
				<p class="text-center font-weight-bold">احسان قصاعي</p>
				<p class="text-center">مديريت<br>واسط کاربری
				<br>Ehsanghasaei2016@gmail.com</p>
              </div>
              <div class="col-1"></div>
              <div class="col-3">
                <img class="img-fluid rounded-circle MemberPic mx-auto d-block" src= "http://s8.picofile.com/file/8313649942/photo_2017_12_07_11_34_39.jpg" />
                <p class="text-center font-weight-bold">كيارش فرقداني</p>
				<p class="text-center">كارشناس تجاري<br> تدوين گزارشات
				<br>k.farghadani@ec.iut.ac.ir</p>
              </div>
              <div class="col-1"></div>
              <div class="col-3">
              	<img class="img-fluid rounded-circle MemberPic mx-auto d-block" src= "http://s9.picofile.com/file/8313652034/photo_2017_12_07_11_53_57.jpg" />
                <p class="text-center font-weight-bold">كيوان مظاهري</p>
				<p class="text-center">واسط كاربري<br> Back-End
				<br>KayvanMazaheri@GMail.com</p>
              </div>
            </div>
            <div class="col-1"></div>
          </div>
          <hr>
            <div class="row d-flex align-items-center">
               <div class="col-3">
              	<img class = "img-fluid rounded-circle MemberPic mx-auto d-block" src="http://s8.picofile.com/file/8313671634/photo_2017_12_07_15_36_13.jpg">
                <p class="text-center font-weight-bold">حسین آخوندی<br>
				<p class="text-center">Back-End<br> پایگاه داده
				<br>akhoundi22@gmail.com</p>
              </div>
              <div class="col-1"></div>
              <div class="col-3">
                <img class="img-fluid rounded-circle MemberPic mx-auto d-block" src= "http://s9.picofile.com/file/8313656650/photo_2017_12_07_12_36_00.jpg" />
                <p class="text-center font-weight-bold">احمد رضا پور قدرت<br>
				<p class="text-center">Back-End<br> پایگاه داده
				<br>a.pourghodrat91@gmail.com</p>
              </div>
              <div class="col-1"></div>
              <div class="col-3">
              	<img class="img-fluid rounded-circle MemberPic mx-auto d-block" src= "http://s9.picofile.com/file/8313656900/photo_2017_12_07_12_38_34.jpg" />
                <p class="text-center font-weight-bold">پوریا طلوعی<br>
				<p class="text-center">واسط كاربري<br> طراحی دیاگرام
				<br>pooriasnipe@yahoo.com</p>
              </div>
            </div>
            <div class="col-1"></div>
            </div>

      </div>
      <div class="row" style="padding-top: 2em;">
        <div class="col text-center">
          <hr>
          <p>دلال‌کش، پروژه‌ی آزمایشگاه مهندسی نرم‌افزار گروه <a href="https://github.com/CarenZarin" target="_blank">کارن زرین</a> است<br>
            کد این پروژه تحت مجوز MIT در <a href="http://github.com/CarenZarin/DallalKosh" target="_blank">مخزن گیت‌هاب پروژه</a> قابل دسترسی است</p>
        </div>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </div>
</body>
</html>
