<!-- aval -->
{% extends 'partials/base.html' %}
<!-- {% load widget_tweaks %} -->

{% block content_title %}مشاهده پيشنهادات من ( فراهم كننده){% endblock %}
{% block title %}مشاهده پيشنهادات من ( فراهم كننده){% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    {% for g in user_goods_list %}
    <div class="col-6">
      <ul class="list-group" style="padding-bottom: 1em;">

    		  <li class="list-group-item list-group-item-warning text-center" >پیشنهاد شماره {{g.id}}</li>
    		  <li class="list-group-item text-right " >عنوان : {{g.good_title}} </li>
    		  <li class="list-group-item text-right">تعداد پیشنهادی : {{g.good_number}} </li>
    		  <!-- <li class="list-group-item text-right">عکس :{{rg.requestedgood_image}}</li> -->
          <li class="list-group-item text-center"><img src="/media/{{g.good_image}}" alt="تصویر محصول" class="img-thumbnail"></li>
    		  <li class="list-group-item text-right">تاریخ پیشنهاد : {{g.good_date}} </li>
    		  <li class="list-group-item text-right">قیمت : {{g.good_price}} </li>
    		  <li class="list-group-item text-right">توضیحات : {{g.good_description}} </li>
    		  <!-- <button type="button" class="btn btn-success">تایید</button> -->
      </ul>
    </div>
    <br>
    {% endfor %}
  </div>
</div>
{% endblock %}
