<ul>
{% for g in user_requested_goods_list %}

    <form method="POST" >
        {%csrf_token%}
        <!--{{g.requestedgood_final}}-->
<li>
{{g.0.requestedgood_title}}
<!--{{g.requestedgood_user}}-->
<!--{{g.requestedgood_date}}-->
<!--{{g.requestedgood_price}}-->
<!--{{g.requestedgood_number}}-->
<!--<img src="/media/{{g.requestedgood_image}}/">-->
    </li>


{% if g.0.requestedgood_final  %}
            is final
        {% else %}

not final
        {% endif %}
{% if g.1 == 'provider confirmed' %}
        provider confirmed

        {%else %}


        provider not confirmed 

        {% endif %}
           </form>
{% endfor %}
    </ul>



