<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>دلال کش | {% block title %}دلال کش{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-+ENW/yibaokMnme+vBLnHMphUYxHs34h9lpdbSLuAwGkOKFRl4C34WkjazBtb7eT" crossorigin="anonymous"> -->

  <link rel="stylesheet" href="//cdn.rawgit.com/morteza/bootstrap-rtl/v3.3.4/dist/css/bootstrap-rtl.min.css">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.rawgit.com/rastikerdar/shabnam-font/v2.1.1/dist/font-face.css" rel="stylesheet" type="text/css" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style media="screen">
      body, h1, h2, h3, input {
        font-family: "Shabnam";
      }
    </style>
  {% block meta %}{% endblock %}
</head>
<body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
  <div id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">دلال کش</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flip pull-left" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link text-success" href="/entertobazaar">ورود به بازار</a>
          </li>
          {% endif %}
          
          {% if user.username %}
          <li class="nav-item">
            <a class="nav-link text-info" href="/accounts/{{user.username}}">اکانت</a>
          </li>
          {% endif %}

          <li class="nav-item">
            {% if not user.username %}
            <a class="nav-link text-success" href="/accounts/signin">ورود</a>
            {% endif %}
            {% if user.username %}
            <a class="nav-link text-danger" href="/accounts/signout">خروج</a>
            {% endif %}
          </li>

        </ul>
      </div>
    </nav>
    <div class="container">

      <div class="row" style="padding-top: 3em; text-align: center;">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <div class="content_title">
                {% block content_title %}{% endblock %}
              </div>
            </div>
            <div class="card-body">
              <div class="content">
                {% block content %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </div>
</body>
</html>
